*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    line-height:1.6;
}

header{
    background:#222;
    color:white;
    position:fixed;
    width:100%;
    top:0;
    z-index:100;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 10%;
}

.logo{
    color:#00bcd4;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin-left:20px;
}
.nav-links a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

.nav-links a:hover{
    color:#06b6d4;
}

.menu-btn{
    display:none;
    font-size:24px;
    cursor:pointer;
}
.hero{
    height:100vh;
    background:linear-gradient(135deg,#0f172a,#1e3a8a,#06b6d4);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero-content h1{
    font-size:4rem;
    margin-bottom:10px;
}

.hero-content h3{
    font-size:1.8rem;
    margin-bottom:15px;
    color:#cbd5e1;
}

.hero-content p{
    max-width:600px;
    margin:auto;
    margin-bottom:20px;
}
.btn{
    display:inline-block;
    padding:12px 25px;
    background:white;
    color:#1e3a8a;
    text-decoration:none;
    border-radius:30px;
    transition:0.3s ease;
    font-weight:bold;
}

.btn:hover{
    transform:translateY(-4px);
    box-shadow:0 10px 20px rgba(0,0,0,0.3);
}
section{
    padding:80px 10%;
    opacity:0;
    transform:translateY(50px);
    transition:all 0.8s ease;
}

section.show{
    opacity:1;
    transform:translateY(0);
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}
.about-container{
    display:grid;
    grid-template-columns:1.5fr 1fr;
    gap:40px;
    align-items:center;
    margin-top:40px;
}

.about-text h3{
    font-size:2rem;
    margin-bottom:15px;
    color:#1e3a8a;
}

.about-text p{
    margin-bottom:15px;
    line-height:1.8;
    color:#555;
}

.about-info{
    display:grid;
    gap:15px;
}

.info-box{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.info-box:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.info-box h4{
    color:#06b6d4;
    margin-bottom:10px;
}
@media(max-width:768px){

    .about-container{
        grid-template-columns:1fr;
    }

    .about-text{
        text-align:center;
    }
}
.stats{
    display:flex;
    justify-content:center;
    gap:30px;
    margin:50px 0;
    flex-wrap:wrap;
}

.stat-box{
    background:linear-gradient(135deg,#1e3a8a,#06b6d4);
    color:white;
    padding:30px;
    width:220px;
    text-align:center;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
    transition:all 0.4s ease;
    cursor:pointer;
}

.stat-box:hover{
    transform:translateY(-10px) scale(1.05);
    box-shadow:0 15px 35px rgba(0,0,0,0.25);
}

.stat-box h3{
    font-size:2.5rem;
    margin-bottom:10px;
    font-weight:700;
}

.stat-box p{
    font-size:1rem;
    letter-spacing:1px;
    color:#e2e8f0;
}
.stat-box:hover{
    transform:translateY(-10px) scale(1.05);
    box-shadow:
        0 15px 35px rgba(0,0,0,0.25),
        0 0 20px rgba(6,182,212,0.5);
}
@media(max-width:768px){
    .stats{
        flex-direction:column;
        align-items:center;
    }

    .stat-box{
        width:90%;
        max-width:300px;
    }
}




h2{
    text-align:center;
    margin-bottom:30px;
}

.skills-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
}
.skill{
    background:#1e3a8a;
    color:white;
    padding:12px 20px;
    border-radius:30px;
    transition:0.3s;
}

.skill:hover{
    transform:scale(1.1);
    background:#06b6d4;
}


.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}
.project-card{
    padding:25px;
    border-radius:15px;
    background:white;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.4s ease;
}

.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 30px rgba(0,0,0,0.2);
}

form{
    display:flex;
    flex-direction:column;
    max-width:500px;
    margin:auto;
}
input,textarea{
    padding:14px;
    border:1px solid #ddd;
    border-radius:8px;
    margin:10px 0;
}

input:focus,
textarea:focus{
    outline:none;
    border-color:#06b6d4;
}


button{
    padding:12px;
    background:#2196f3;
    color:white;
    border:none;
    cursor:pointer;
}

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:25px;
}

@media(max-width:768px){

    .nav-links{
        display:none;
        flex-direction:column;
        position:absolute;
        top:60px;
        right:0;
        background:#222;
        width:200px;
    }

    .nav-links.active{
        display:flex;
    }

    .nav-links li{
        margin:15px;
    }

    .menu-btn{
        display:block;
    }

    .hero-content h1{
        font-size:2rem;
    }
}